<% if current_user.shopping_cart_ids.include?(shopping_cart.id) %>
  <div class="card card-round" style="width: 18rem;">
<% else %>
  <div class="card card-round-dashed" style="width: 18rem;">
<% end %>
    <div class="card-body">
      <h5 class="card-title pb-2"><%= shopping_cart.name %></h5>
      <h6 class="card-subtitle mb-4 text-muted"><%= shopping_cart.created_at.strftime("Created on %m/%d at %I:%M%p") %></h6>
      <p class="card-text mb-2 pb-4">This shopping cart has <%= shopping_cart.cart_members.count %> members</p>
      <p class="card-text mb-2 pb-4"><%= shopping_cart.cart_items.count %> items in this cart</p>
      <% if current_user.shopping_cart_ids.include?(shopping_cart.id) %>
        <%= link_to "View cart", shopping_cart_path(shopping_cart), class: "btn btn-large btn-food" %>
      <% else %>
        <%= link_to "More info", shopping_cart_path(shopping_cart), class: "btn btn-large btn-food" %>
      <% end %>
    </div>
  </div>
