<div class="mt-4">
  <div>
    <h1><%= @shopping_cart.name %></h1>
    <%#= link_to "Back to my shopping carts", shopping_carts_path(filter: current_user.id) %>
  </div>
  <h5>Members in this cart</h2>
  <div class="d-flex align-items-start">
    <% @shopping_cart.cart_members.each do |member| %>
      <% user = member.user_id %>
      <p class="my-auto px-2">
        / <%= @users.find(user).username %>
      </p>
    <% end %>
  </div>
  <br>
  <div class="row d-flex">
    <% if current_user.shopping_cart_ids.include?(@shopping_cart.id) %>
    <div class="row nav-links mb-4">
      <%= link_to "Add a new item", new_item_path, class: "btn btn-nav" %>
      <%= link_to "Search for items", items_path, class: "btn btn-nav" %>
      <%= link_to "Back to my shopping carts", shopping_carts_path, class: "btn btn-nav" %>
    </div>
  </div>
  <div class="row mx-1">
    <div class="col-lg-9 px-0 mb-4">
      <h5>Items in this cart</h5>
      <div class="row d-flex flex-wrap" data-controller="purchase-checked"
      data-purchase-checked-count-value="<%= @cart_items.count %>">
        <% @cart_items.each_with_index do |cart_item, index| %>
          <%# if cart_item.bought == false %>
            <div class="col-lg-4 col-6 cart-item-card">
              <div class="card">
                <% cart_item.item.photos.each do |photo| %>
                  <%= cl_image_tag(photo.key, height: 400, width: 300, crop: :fit, class: "img-fluid") %>
                <% end %>
                <p class="mb-0 pb-4 text-truncate"><%= cart_item.item.name %></p>
                <p class="mb-0 pb-1">Added by: <%= cart_item.added_by %></p>
                  <%= simple_form_for cart_item, html: { class: "buy-form"} do |f| %>
                    <%= f.input :bought, as: :hidden, input_html: { value: true }, class: "mx-4" %>
                    <%= f.input :bought_by, as: :hidden, input_html: { value: current_user.username } %>
                    <%= f.submit 'Buy this item', class: 'btn btn-food' %>
                  <% end %>
              </div>
              <input type="checkbox" data-purchase-checked-url-value="<%= cart_item_path(cart_item) %>"
              data-action="change->purchase-checked#check">
              <%= cart_item_path(cart_item) %>
            </div>
          <%# end %>
        <% end %>
        <button data-action="purchase-checked#purchase">Purchase all checked items</button>
      </div>
    </div>
    <div class="col-lg-3 col-12 px-0 mb-4">
      <h5>Recently purchased</h5>
        <ul class="p-0">
          <% @cart_items.where('updated_at > ?', 24.hours.ago).each do |cart_item| %>
            <% if cart_item.bought == true %>
              <div class="card mb-3 bought">
                <div class="row g-0">
                  <div class="col-4">
                    <% cart_item.item.photos.each do |photo| %>
                      <%= cl_image_tag(photo.key, width: 120, height: 200, crop: :fit, class: "img-fluid rounded-start") %>
                    <% end %>
                  </div>
                  <div class="col-8">
                    <div class="card-body">
                      <h6 class="card-title"><%= cart_item.item.name %></h6>
                      <p class="card-text">Bought by: <%= cart_item.bought_by %></p>
                      <p class="card-text"><small class="text-body-secondary"><%= cart_item.updated_at.strftime("%m/%d at %I:%M%p") %></small></p>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </ul>
      </div>
    <% else %>
      <%= simple_form_for [@shopping_cart, @cart_member] do |f| %>
        <div class="form-inputs">
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Join this cart", class: "btn btn-nav" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
