<h1>This is my shopping cart</h1>
<div class="container">
  <h3><%= @shopping_cart.name %></h3>
  <%= simple_form_for [@shopping_cart, @cart_member], url: shopping_cart_cart_member_path(@shopping_cart), method: :post do |f| %>
    <div class="form-inputs">
    </div>
    <div class="form-actions">
      <%= f.button :submit, "Join this cart", class: "btn btn-primary" %>
    </div>
  <% end %>
  <h5>Members in this cart</h2>
  <ul>
    <% @shopping_cart.cart_members.each do |member| %>
      <% user = member.user_id %>
      <li>
        <%= @users.find(user).username %>
      </li>
    <% end %>
  </ul>
  <br>
  <br>
  <h5>Items in this cart</h5>
  <ul>
    <% @cart_items.each do |product| %>
      <li>
        <div class="container">
          <div class="row">
            <div class="d-flex">
              <p><%= product.item.name %></p>
              <div>
                <%= image_tag product.item.photo, class: "food-pic" %>
              </div>
              <p>Added by: <%= product.added_by %></p>
            </div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <%= link_to "Back to shopping carts", shopping_carts_path, class: "btn btn-primary" %>
  <%= link_to "Add a new item", new_shopping_cart_item_path(@shopping_cart), class: "btn btn-primary" %>
</div>
