<h1>This is my shopping cart</h1>
<div class="container">
  <h3><%= @shopping_cart.name %></h3>
  <% unless current_user.shopping_cart_ids.include?(@shopping_cart.id) %>
    <%#= link_to "Join", new_shopping_cart_cart_member_path(@shopping_cart), class: "btn btn-food" %>
    <%= simple_form_for [@shopping_cart, @cart_member] do |f| %>
      <div class="form-inputs">
      </div>
      <div class="form-actions">
        <%= f.button :submit, "Join this cart", class: "btn btn-food" %>
      </div>
    <% end %>
  <% end %>
  <h5>Members in this cart</h2>
  <ul>
    <% @shopping_cart.cart_members.each do |member| %>
      <% user = member.user_id %>
      <li>
        <%= @users.find(user).username %>
      </li>
    <% end %>
  </ul>
  <br>
  <br>
  <h5>Items in this cart</h5>
  <ul>
    <% @cart_items.each do |cart_item| %>
      <% if cart_item.bought == false %>
        <li>
          <div class="container">
            <div class="row">
              <div class="d-flex">
                <p><%= cart_item.item.name %></p>
                <div>
                <%#= image_tag(cart_item.photo), class: "food-pic" %>
                <% cart_item.item.photos.each do |photo| %>
                  <%= cl_image_tag(photo.key, width: 400, height: 400, crop: :fit) %>
                <% end %>
                </div>
                <p>Added by: <%= cart_item.added_by %></p>
                <%#= link_to "Buy this item", shopping_cart_cart_item_path(cart_item), class: "btn" %>
                <% unless cart_item.bought?%>
                  <%= simple_form_for cart_item do |f| %>
                    <%= f.input :bought, as: :hidden, input_html: { value: true } %>
                    <%= f.submit 'Buy this item', class: 'btn' %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
  <%= link_to "Back to shopping carts", shopping_carts_path, class: "btn btn-food" %>
  <% if current_user.shopping_cart_ids.include?(@shopping_cart.id) %>
    <%= link_to "Add a new item", new_shopping_cart_item_path(@shopping_cart), class: "btn btn-food" %>
    <%= link_to "Search for items", shopping_cart_items_path(@shopping_cart), class: "btn btn-food" %>
  <% end %>
    <%= %>
</div>
