<div class="mt-4">
  <div>
    <h1><%= @shopping_cart.name %></h1>
    <%#= link_to "Back to my shopping carts", shopping_carts_path(filter: current_user.id) %>
  </div>
  <h5>Members in this cart</h2>
  <div class="d-flex align-items-start">
    <% @shopping_cart.cart_members.each do |member| %>
      <% user = member.user_id %>
      <p class="my-auto px-2">
        / <%= @users.find(user).username %>
      </p>
    <% end %>
  </div>
  <br>
  <div class="row d-flex">
    <% if current_user.shopping_cart_ids.include?(@shopping_cart.id) %>
    <div class="row nav-links mb-4">
      <%= link_to "Add a new item", new_item_path, class: "btn btn-nav" %>
      <%= link_to "Search for items", items_path, class: "btn btn-nav" %>
      <%= link_to "Back to my shopping carts", root_path, class: "btn btn-nav" %>
    </div>
  </div>
  <div class="row mx-1">
    <div class="col-lg-9 px-0 mb-4">
      <h5>Items in this cart</h5>
      <div class="row d-flex flex-wrap" data-controller="purchase-checked"
      data-purchase-checked-count-value="<%= @cart_items.count %>"
      data-purchase-checked-user-value="<%= current_user %>">
        <% @cart_items.each_with_index do |cart_item, index| %>
          <%= render cart_item %>
        <% end %>
        <button data-action="purchase-checked#purchase" class="btn-food">Purchase all checked items</button>
      </div>
    </div>
    <div class="row justify-content-around">
      <div class="col-lg-3 col-12 px-0 mb-4">
        <h5>Recently purchased</h5>
          <ul class="p-0">
            <% @bought_cart_items.each do |cart_item| %>
              <div class="card mb-3 bought">
                <div class="row g-0">
                  <div class="col-4">
                    <% cart_item.item.photos.each do |photo| %>
                      <%= cl_image_tag(photo.key, width: 120, height: 200, crop: :fit, class: "img-fluid rounded-start") %>
                    <% end %>
                  </div>
                  <div class="col-8">
                    <div class="card-body">
                      <h6 class="card-title"><%= cart_item.item.name %></h6>
                      <p class="card-text">Bought by: <%= cart_item.bought_by %></p>
                      <p class="card-text"><small class="text-body-secondary"><%= cart_item.updated_at.strftime("%m/%d at %I:%M%p") %></small></p>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </ul>
        </div>
        <div class="col-lg-3 col-12 px-0 mb-4">
          <h5>Frequently purchased</h5>
            <ul class="p-0">
              <% @frequently_bought_cart_items.each do |cart_item| %>
                <div class="card mb-3 bought">
                  <div class="row g-0">
                    <div class="col-4">
                      <% cart_item.item.photos.each do |photo| %>
                        <%= cl_image_tag(photo.key, width: 120, height: 200, crop: :fit, class: "img-fluid rounded-start") %>
                      <% end %>
                    </div>
                    <div class="col-8">
                      <div class="card-body">
                        <h6 class="card-title"><%= cart_item.item.name %></h6>
                        <h6 class="card-title"><%= cart_item.count %></h6>
                        <% @item = cart_item.item %>
                      </div>
                    </div>
                  </div>
                </div>
                <%= simple_form_for [@item, @cart_item] do |f| %>
                  <div class="form-inputs">
                    <%= f.input :shopping_cart_id, collection: @shopping_carts, as: :select %>
                  </div>
                  <div class="form-actions">
                    <%= f.button :submit, "Add to cart", class: "btn btn-food" %>
                  </div>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% else %>
      <%= simple_form_for [@shopping_cart, @cart_member] do |f| %>
        <div class="form-inputs">
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Join this cart", class: "btn btn-nav" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
