<div class="d-flex justify-content-around m-6 p-6">
  <%= link_to shopping_cart_items_path(filter: 'meats'), class: '' do %>
    <div class=""><i class="fa-solid fa-bacon"></i>
      <div class="">Meats</div>
    </div>
  <% end %>
  <%= link_to shopping_cart_items_path(filter: 'produce'), class: '' do %>
    <div class=""><i class="fa-solid fa-carrot"></i>
      <div class="">Produce</div>
    </div>
  <% end %>
  <%= link_to shopping_cart_items_path(filter: 'seafood'), class: '' do %>
    <div class=""><i class="fa-solid fa-fish"></i>
      <div class="">Seafood</div>
    </div>
  <% end %>
  <%= link_to shopping_cart_items_path(filter: 'drinks'), class: '' do %>
    <div class=""><i class="fa-solid fa-glass-water"></i>
      <div class="">Drinks</div>
    </div>
  <% end %>
  <%= link_to shopping_cart_items_path(filter: 'dairy'), class: '' do %>
    <div class=""><i class="fa-solid fa-cheese"></i>
      <div class="">Dairy</div>
    </div>
  <% end %>
  <%= link_to shopping_cart_items_path(filter: 'grains'), class: '' do %>
    <div class=""><i class="fa-solid fa-wheat-awn"></i>
      <div class="">Grains</div>
    </div>
  <% end %>
  <%= link_to shopping_cart_items_path(filter: 'canned'), class: '' do %>
    <div class=""><i class="fa-solid fa-jar"></i>
      <div class="">Canned</div>
    </div>
  <% end %>
  <%= link_to shopping_cart_items_path(filter: 'frozen'), class: '' do %>
    <div class=""><i class="fa-solid fa-ice-cream"></i>
      <div class="">Frozen</div>
    </div>
  <% end %>
  <%= link_to shopping_cart_items_path(filter: 'baking'), class: '' do %>
    <div class=""><i class="fa-solid fa-cookie"></i>
      <div class="">Baking</div>
    </div>
  <% end %>
  <%= link_to shopping_cart_items_path(filter: 'sauces'), class: '' do %>
    <div class=""><i class="fa-solid fa-bottle-water"></i>
      <div class="">Sauces</div>
    </div>
  <% end %>
  <%= link_to shopping_cart_items_path(filter: 'cleaning'), class: '' do %>
    <div class=""><i class="fa-solid fa-broom"></i>
      <div class="">Cleaing</div>
    </div>
  <% end %>
  <%= link_to shopping_cart_items_path(filter: 'hygiene'), class: '' do %>
    <div class=""><i class="fa-solid fa-pump-soap"></i>
      <div class="">Hygiene</div>
    </div>
  <% end %>
  <%= link_to shopping_cart_items_path(filter: 'other'), class: '' do %>
    <div class=""><i class="fa-solid fa-circle-question"></i>
      <div class="">Other</div>
    </div>
  <% end %>
</div>
