<div class="d-flex flex-wrap justify-content-around m-6 p-6">
  <%= link_to items_path(filter: 'meats'), class: '' do %>
    <div class=""><i class="fa-solid fa-3x fa-bacon"></i>
      <div class="">Meats</div>
    </div>
  <% end %>
  <%= link_to items_path(filter: 'produce'), class: '' do %>
    <div class=""><i class="fa-solid fa-3x fa-carrot"></i>
      <div class="">Produce</div>
    </div>
  <% end %>
  <%= link_to items_path(filter: 'seafood'), class: '' do %>
    <div class=""><i class="fa-solid fa-3x fa-fish"></i>
      <div class="">Seafood</div>
    </div>
  <% end %>
  <%= link_to items_path(filter: 'dairy'), class: '' do %>
    <div class=""><i class="fa-solid fa-3x fa-cheese"></i>
      <div class="">Dairy</div>
    </div>
  <% end %>
  <%= link_to items_path(filter: 'grains'), class: '' do %>
    <div class=""><i class="fa-solid fa-3x fa-wheat-awn"></i>
      <div class="">Grains</div>
    </div>
  <% end %>
  <%= link_to items_path(filter: 'canned'), class: '' do %>
    <div class=""><i class="fa-solid fa-3x fa-jar"></i>
      <div class="">Canned</div>
    </div>
  <% end %>
  <%= link_to items_path(filter: 'frozen'), class: '' do %>
    <div class=""><i class="fa-solid fa-3x fa-ice-cream"></i>
      <div class="">Frozen</div>
    </div>
  <% end %>
  <%= link_to items_path(filter: 'baking'), class: '' do %>
    <div class=""><i class="fa-solid fa-3x fa-cookie"></i>
      <div class="">Baking</div>
    </div>
  <% end %>
  <%= link_to items_path(filter: 'spices'), class: '' do %>
    <div class=""><i class="fa-solid fa-3x fa-leaf"></i>
      <div class="">Spices</div>
    </div>
  <% end %>
  <%= link_to items_path(filter: 'sauces'), class: '' do %>
    <div class=""><i class="fa-solid fa-3x fa-bottle-water"></i>
      <div class="">Sauces</div>
    </div>
  <% end %>
  <%= link_to items_path(filter: 'drinks'), class: '' do %>
    <div class=""><i class="fa-solid fa-3x fa-glass-water"></i>
      <div class="">Drinks</div>
    </div>
  <% end %>
  <%= link_to items_path(filter: 'snacks'), class: '' do %>
    <div class=""><i class="fa-solid fa-3x fa-stroopwafel"></i>
      <div class="">Snacks</div>
    </div>
  <% end %>
  <%= link_to items_path(filter: 'cleaning'), class: '' do %>
    <div class=""><i class="fa-solid fa-3x fa-broom"></i>
      <div class="">Cleaing</div>
    </div>
  <% end %>
  <%= link_to items_path(filter: 'hygiene'), class: '' do %>
    <div class=""><i class="fa-solid fa-3x fa-pump-soap"></i>
      <div class="">Hygiene</div>
    </div>
  <% end %>
  <%= link_to items_path(filter: 'other'), class: '' do %>
    <div class=""><i class="fa-solid fa-3x fa-circle-question"></i>
      <div class="">Other</div>
    </div>
  <% end %>
</div>
