<div class="d-flex flex-wrap justify-content-around m-6 p-6">
  <%= link_to items_path(filter: 'meats'), class: "category-link-food px-1" do %>
    <div class="meat-color-fill category-inside"><div class="category-text">Meats</div><i class="fa-solid fa-3x fa-bacon"></i>
    </div>
  <% end %>
  <%= link_to items_path(filter: 'produce'), class: "category-link-food px-1" do %>
    <div class="produce-color-fill category-inside"><div class="category-text">Produce</div><i class="fa-solid fa-3x fa-carrot"></i>
    </div>
  <% end %>
  <%= link_to items_path(filter: 'seafood'), class: "category-link-food px-1" do %>
    <div class="seafood-color-fill category-inside"><div class="category-text">Seafood</div><i class="fa-solid fa-3x fa-fish"></i>
    </div>
  <% end %>
  <%= link_to items_path(filter: 'drinks'), class: "category-link-food px-1" do %>
    <div class="drinks-color-fill category-inside"><div class="category-text">Drinks</div><i class="fa-solid fa-3x fa-glass-water"></i>
    </div>
  <% end %>
  <%= link_to items_path(filter: 'dairy'), class: "category-link-food px-1" do %>
    <div class="dairy-color-fill category-inside"><div class="category-text">Dairy</div><i class="fa-solid fa-3x fa-cheese"></i>
    </div>
  <% end %>
  <%= link_to items_path(filter: 'grains'), class: "category-link-food px-1" do %>
    <div class="grains-color-fill category-inside"><div class="category-text">Grains</div><i class="fa-solid fa-3x fa-wheat-awn"></i>
    </div>
  <% end %>
  <%= link_to items_path(filter: 'canned'), class: "category-link-food px-1" do %>
    <div class="canned-color-fill category-inside"><div class="category-text">Canned</div><i class="fa-solid fa-3x fa-jar"></i>
    </div>
  <% end %>
  <%= link_to items_path(filter: 'frozen'), class: "category-link-food px-1" do %>
    <div class="frozen-color-fill category-inside"><div class="category-text">Frozen</div><i class="fa-solid fa-3x fa-ice-cream"></i>
    </div>
  <% end %>
  <%= link_to items_path(filter: 'baking'), class: "category-link-food px-1" do %>
    <div class="baking-color-fill category-inside"><div class="category-text">Baking</div><i class="fa-solid fa-3x fa-cookie"></i>
    </div>
  <% end %>
  <%= link_to items_path(filter: 'spices'), class: "category-link-food px-1" do %>
    <div class="spices-color-fill category-inside"><div class="category-text">Spices</div><i class="fa-solid fa-3x fa-leaf"></i>
    </div>
  <% end %>
  <%= link_to items_path(filter: 'sauces'), class: "category-link-food px-1" do %>
    <div class="sauces-color-fill category-inside"><div class="category-text">Sauces</div><i class="fa-solid fa-3x fa-bottle-water"></i>
    </div>
  <% end %>
  <%= link_to items_path(filter: 'snacks'), class: "category-link-food px-1" do %>
    <div class="snacks-color-fill category-inside"><div class="category-text">Snacks</div><i class="fa-solid fa-3x fa-stroopwafel"></i>
    </div>
  <% end %>
  <%= link_to items_path(filter: 'cleaning'), class: "category-link-food px-1" do %>
    <div class="cleaning-color-fill category-inside"><div class="category-text">Cleaing</div><i class="fa-solid fa-3x fa-broom"></i>
    </div>
  <% end %>
  <%= link_to items_path(filter: 'hygiene'), class: "category-link-food px-1" do %>
    <div class="hygiene-color-fill category-inside"><div class="category-text">Hygiene</div><i class="fa-solid fa-3x fa-pump-soap"></i>
    </div>
  <% end %>
  <%= link_to items_path(filter: 'other'), class: "category-link-food px-1" do %>
    <div class="other-color-fill category-inside"><div class="category-text">Other</div><i class="fa-solid fa-3x fa-circle-question"></i>
    </div>
  <% end %>
</div>
