<nav class="page-frame-header navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">GrocerEase</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <%# <li class="nav-item">
          <%= link_to "My Shopping Carts", shopping_carts_path(filter: current_user.id), class: "nav-link" %>
        <%# </li> %>
        <li class="nav-item">
          <%= link_to "Find A Shopping Cart", shopping_carts_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Search Categories
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Meats", items_path(filter: 'meats'), class: 'dropdown-item kale-color' %></li>
            <li><%= link_to "Produce", items_path(filter: 'produce'), class: 'dropdown-item lime-color' %></li>
            <li><%= link_to "Seafood", items_path(filter: 'seafood'), class: 'dropdown-item parmesan-color' %></li>
            <li><%= link_to "Dairy", items_path(filter: 'dairy'), class: 'dropdown-item honey-color' %></li>
            <li><%= link_to "Grains", items_path(filter: 'grains'), class: 'dropdown-item salty-color' %></li>
            <li><%= link_to "Canned", items_path(filter: 'canned'), class: 'dropdown-item almond-color' %></li>
            <li><%= link_to "Frozen", items_path(filter: 'frozen'), class: 'dropdown-item kale-color' %></li>
            <li><%= link_to "Baking", items_path(filter: 'baking'), class: 'dropdown-item lime-color' %></li>
            <li><%= link_to "Spices", items_path(filter: 'spices'), class: 'dropdown-item parmesan-color' %></li>
            <li><%= link_to "Sauces", items_path(filter: 'sauces'), class: 'dropdown-item honey-color' %></li>
            <li><%= link_to "Drinks", items_path(filter: 'drinks'), class: 'dropdown-item salty-color' %></li>
            <li><%= link_to "Snacks", items_path(filter: 'snacks'), class: 'dropdown-item almond-color' %></li>
            <li><%= link_to "Cleaning", items_path(filter: 'cleaning'), class: 'dropdown-item kale-color' %></li>
            <li><%= link_to "Hygiene", items_path(filter: 'hygiene'), class: 'dropdown-item lime-color' %></li>
            <li><%= link_to "Other", items_path(filter: 'other'), class: 'dropdown-item parmesan-color' %></li>
          </ul>
        </li>
        <li class="nav-item active">
          <%= link_to "Log out",  destroy_user_session_path, data: { turbo_method: "delete" }, class: "nav-link" %>
        </li>
        <% else %>
          <li class="nav-item navbar-current-user">
            <%= link_to "Login", new_user_session_path, class: "nav-link active" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
