<div class="col-lg-4 col-6 cart-item-card">
  <div class="card">
    <% cart_item.item.photos.each do |photo| %>
      <%= cl_image_tag(photo.key, height: 400, width: 300, crop: :fit, class: "img-fluid") %>
    <% end %>
    <p class="mb-0 pb-4 text-truncate"><%= cart_item.item.name %></p>
    <p class="mb-0 pb-1">Added by: <%= cart_item.added_by %></p>
      <%= simple_form_for cart_item, html: { class: "buy-form", data: {purchase_checked_target: "form"}} do |f| %>
        <%= f.input :bought, as: :hidden, input_html: { value: true }, class: "mx-4" %>
        <%= f.input :bought_by, as: :hidden, input_html: { value: current_user.username } %>
        <%= f.submit 'Buy this item', class: 'btn btn-food' %>
      <% end %>
  </div>
  <input class="mx-2" type="checkbox" data-purchase-checked-url-value="<%= cart_item_path(cart_item) %>"
  data-action="change->purchase-checked#check">
  <%#= cart_item_path(cart_item) %>
</div>
