<div class="col-lg-3 col-6">
  <div class="card">
    <% cart_item.item.photos.each do |photo| %>
      <%= cl_image_tag(photo.key, height: 0.25, crop: :scale) %>
    <% end %>
    <p class="mb-0"><%= cart_item.item.name %></p>
    <p class="mb-0">Added by: <%= cart_item.added_by %></p>
    <% unless cart_item.bought?%>
      <%= simple_form_for cart_item, html: { class: "buy-form"} do |f| %>
        <%= f.input :bought, as: :hidden, input_html: { value: true } %>
        <%= f.input :bought_by, as: :hidden, input_html: { value: current_user.username } %>
        <%= f.submit 'Buy this item', class: 'btn btn-food' %>
      <% end %>
    <% end %>
  </div>
</div>
