<div class="container">
  <div class="row">
    <h1>These are the available items</h1>
    <%= link_to "Back to shopping cart", shopping_cart_path(@shopping_cart) %>
  </div>
</div>
<%= render "shared/categories" %>
<%= form_with url: shopping_cart_items_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Search for items here..."
    %>
  <%= submit_tag "Find", name: "", class: "btn" %>
<% end %>
<% @items.each do |item| %>
  <%= render item %>
<% end %>
