<%= @item.name %>
<% @item.photos.each do |photo| %>
  <%= cl_image_tag(photo.key, width: 400, height: 400, crop: :fit) %>
<% end %>
<%= simple_form_for [@item, @cart_item] do |f| %>
  <div class="form-inputs">
    <%= f.input :shopping_cart_id, collection: @shopping_carts, as: :select %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, "Add this item to your cart", class: "btn btn-food" %>
  </div>
<% end %>
